.home {
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

.home__img {
    width: 400px; /* Ou une taille fixe pour garantir le cercle */
    height: 400px; /* Doit être égal à la largeur */
    object-fit: cover;
    border-radius: 50%; /* Arrondi total */
    border: 5px solid var(--first-color); /* Bordure de ta couleur */
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
    /* Centrage sur l'écran */
    display: block;
    margin: 0 auto; 
}

.home__img:hover {
    width: 410px; /* Ou une taille fixe pour garantir le cercle */
    height: 410px; /* Doit être égal à la largeur */
    cursor: pointer;
}

.home__data{ 
    max-width: 600px;
    margin-inline: auto;
    padding-top: 20px;
}

.home__title {
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    padding-left: 70px;
}

.home__title span {
    color: var(--first-color);
}

.home__title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--first-color);
}

.home__description {
    line-height: 2.125;
    margin-block: 16px 32px;
}

